{% extends 'base.html' %}

{% block title %}taggit_cloud.html{% endblock %}

{% block extra-style %}
<style type="text/css">
.tag-cloud {
    width: 40%;
    margin-left: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid orange;
    background-color: #ffc;
}
.tag-1 { font-size: 12px; }
.tag-2 { font-size: 14px; }
.tag-3 { font-size: 16px; }
.tag-4 { font-size: 18px; }
.tag-5 { font-size: 20px; }
.tag-6 { font-size: 24px; }
</style>
{% endblock %}

{% block content %}

    <h1>Blog Tag Cloud</h1>
    <br>
    
    <div class="tag-cloud">
        {% load taggit_templatetags2_tags %}
        {% get_tagcloud as tags %}
        {% for tag in tags %}
        <span class="tag-{{tag.weight|floatformat:0}}">
        <a href="{% url 'blog:tagged_object_list' tag.name %}">
            {{tag.name}}({{tag.num_times}})</a></span> 
        <!--tag.name: 태그의 이름
            tag.num_times: 태그가 몇번 사용되었는지를 의미
            tag.weight: 태그의 중요도 tag.num_times 값을 미리 정의한 MIN~MAX 이내의 값으로 변환한 수치이다.-->
        {% endfor %}
    </div>

{% endblock %}

