{% extends 'base_blogapp.html' %}

{% block content %}

  <br>

  {% for blog in blogs %}

    <main role="main" class="container">
      <div class="bg-light p-5 rounded" style="margin-bottom: 30px">
        <h1>제목 : {{ blog.title }}</h1>
        <br>
        <h4>작성일 : {{ blog.pub_date | date:'Y년 F d a h:i' }}</h4>
        <br>
        <h4>작성자 : {{ blog.author }}</h4>
        <br>
        {# <p class="lead">{{ blog.body | safe }}</p> #}

        <a class="btn btn-lg btn-primary" href="{% url 'blogapp:detail' blog.id %}" role="button">자세히 보기 &raquo;</a>
      </div>
    </main>

  {% endfor %}  

{% endblock %}
